<link rel="stylesheet" type="text/css" href="theme.css">

<topbar>
  <ul>
    <li>Option 1</li>
    <li>Option 2</li>
  </ul>
</topbar>

<div style="padding:20px; margin-top:30px;">
<h1>Hello</h1>

<body>
  <p>We want random things here</p>
</body>
<%= link_to 'About', about_path %>

</div>